.photo-grid__list {
    list-style-type: none;
    justify-content: center;
    width: 100%;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding-inline-start: 0;
}

@media screen and (max-width: 1285px) {
    .photo-grid__list {
        grid-template-columns: repeat(auto-fill, 284px);
        gap: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid__list {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 14px;
    }
}

@media screen and (max-width: 926px) {
    .photo-grid__list {
        grid-template-columns: repeat(auto-fill, 352px);
        gap: 16px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 362px) {
    .photo-grid__list {
        grid-template-columns: repeat(auto-fill, 288px);
        grid-gap: 12px;
        margin-top: 64px;
        padding: 0;
    }
}
