.lead {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 56px auto 0;
  max-width: 985px;
}
  
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 900px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}