.header {
  max-width: 1184px;
  margin: auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0 48px;
}

@media screen and (max-width: 507px) {
  .header {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}