.place__paragraph {
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    line-height: 163%;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
}
.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        font-size: 18px;

    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;

    }
}
