.place__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    line-height: 22px;
    max-width: 456px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    cursor: url(../../../images/Imported\ Layers\ Copy\ 4.png) 2 2, default;
    transition: 0.5s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 764px) {
    .place__link {
        max-width: 352px;
    }
}
@media screen and (max-width: 320px) {
    .place__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
}