.footer {
    justify-content: space-between;
    margin: 92px 48px 24px 48px;
    flex-wrap: wrap;
    display: flex;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px 24px; 
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 118px 24px 16px; 
    }
}